<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/meta.njk" %}
  </head>
  <body>
    <div class="site-wrapper">
      {% include "partials/header.njk" %}

      <main class="content">{{ content | safe }}</main>

      {% include "partials/footer.njk" %}
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>
