# Build directory
_site/

# Node modules
node_modules/

# ENV files
.env
.env.*

# System files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
.npm/
.eslintcache
.aider*
