<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="Welcome to William Zujkowski's Personal Website" name="description" />
    <meta content="William Zujkowski, Cybersecurity, Blog, Calculators" name="keywords" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>William Zujkowski - 404</title>
    <link href="/assets/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body>
    <header hx-get="/includes/header.html" hx-swap="outerHTML" hx-trigger="load"></header>
    <div hx-get="/includes/nav.html" hx-swap="outerHTML" hx-trigger="load"></div>
    <main class="container">
        <h1>404 - Page Not Found</h1>
        <p>Sorry, the page you are looking for does not exist.</p>
        <p><a href="/index.html">Return Home</a></p>
    </main>
    <footer hx-get="/includes/footer.html" hx-swap="outerHTML" hx-trigger="load"></footer>
</body>

</html>