<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/static/css/main.css' | url }}" media="screen">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/fun-links">Fun Links</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        <p>&copy; 2025 William Zujkowski</p>
    </footer>
</body>
</html>