---
layout: layouts/default.njk
---

<article class="blog-post">
  <div class="container">
    <header class="post-header">
      <h1>{{ title }}</h1>
      
      <div class="post-meta">
        <time datetime="{{ page.date | dateToISO }}">{{ page.date | formatDate }}</time>
        
        {% if tags %}
          <div class="post-tags">
            {% for tag in tags | filterTagList %}
              <a href="/blog/tag/{{ tag | slug }}/" class="post-tag">{{ tag }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </header>

    <div class="post-content">
      {{ content | safe }}
    </div>

    <footer class="post-footer">
      <div class="post-share">
        <h3>Share this post</h3>
        <div class="share-buttons">
          <a href="https://twitter.com/intent/tweet?text={{ title | urlencode }}&url={{ site.baseUrl }}{{ page.url | urlencode }}" target="_blank" rel="noopener noreferrer" class="share-button twitter">
            Twitter
          </a>
          <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.baseUrl }}{{ page.url | urlencode }}" target="_blank" rel="noopener noreferrer" class="share-button linkedin">
            LinkedIn
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseUrl }}{{ page.url | urlencode }}" target="_blank" rel="noopener noreferrer" class="share-button facebook">
            Facebook
          </a>
        </div>
      </div>
      
      <div class="post-navigation">
        {%- set previousPost = collections.posts | getPreviousCollectionItem %}
        {%- set nextPost = collections.posts | getNextCollectionItem %}
        
        <div class="post-nav-links">
          {% if previousPost %}
            <a href="{{ previousPost.url }}" class="post-nav-prev">
              <span class="post-nav-label">Previous</span>
              <span class="post-nav-title">{{ previousPost.data.title }}</span>
            </a>
          {% endif %}
          
          {% if nextPost %}
            <a href="{{ nextPost.url }}" class="post-nav-next">
              <span class="post-nav-label">Next</span>
              <span class="post-nav-title">{{ nextPost.data.title }}</span>
            </a>
          {% endif %}
        </div>
      </div>
    </footer>
  </div>
</article>
