<nav class="site-nav" id="primary-menu">
  <ul class="nav-menu">
    <li class="nav-item {% if page.url == '/' %}active{% endif %}">
      <a href="/">Home</a>
    </li>
    <li class="nav-item {% if '/projects/' in page.url %}active{% endif %}">
      <a href="/projects/">Portfolio</a>
    </li>
    <li class="nav-item {% if '/about/' in page.url %}active{% endif %}">
      <a href="/about/">About</a>
    </li>
    <li class="nav-item {% if '/links/' in page.url %}active{% endif %}">
      <a href="/links/">Links</a>
    </li>
    <li
      class="nav-item {% if '/posts/' in page.url and page.url != '/posts/' %}active{% endif %}"
    >
      <a href="/posts/">Blog</a>
    </li>
  </ul>
</nav>
