---
layout: base.njk
title: Blog
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 3
---
{% set searchWidget %}
<div class="search-container">
  <input type="text" id="search-input" placeholder="Search posts..." aria-label="Search posts">
  <div class="search-results">
    Showing <span id="search-results-count">{{ collections.posts | length }}</span> posts
  </div>
</div>
{% endset %}

{% include "page-header.njk" %}
{% if subtitle %}<p>{{ subtitle }}</p>{% endif %}
{% if searchWidget %}{{ searchWidget | safe }}{% endif %}

<div class="blog-posts">
  <ul class="post-list">
    {%- for post in collections.posts | reverse -%}
      {% include "post-list-item.njk" %}
    {%- endfor -%}
  </ul>
</div>