---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
{%- set metadata = {
  title: site.title + "'s Blog",
  subtitle: site.description,
  language: "en",
  url: site.url,
  author: {
    name: site.author,
    email: site.email
  }
} -%}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.url }}{{ permalink }}" rel="self"/>
  <link href="{{ metadata.url }}/"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | isoDate }}</updated>
  <id>{{ metadata.url }}/</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.posts | reverse %}
  {% set absolutePostUrl %}{{ metadata.url }}{{ post.url }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | isoDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
