---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for page in collections.all %}
  {% set absoluteUrl %}{{ site.url }}{{ page.url }}{% endset %}
  <url>
    <loc>{{ absoluteUrl }}</loc>
    <lastmod>{{ page.date | isoDate }}</lastmod>
    <changefreq>{{ page.data.changeFreq or "monthly" }}</changefreq>
    <priority>{{ page.data.sitemapPriority or 0.8 }}</priority>
  </url>
{%- endfor %}
</urlset>