---
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import PostCard from '@components/PostCard.astro';

const allPosts = await getCollection('posts', ({ data }) => !data.draft);
const posts = allPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout title="Home">
  <section>
    {posts.map((post) => (
      <PostCard post={post} />
    ))}
  </section>
</BaseLayout>
